<div class="card mb-3">
	<!-- card -->
	<div class="card-block">

		<div class="d-flex justify-content-end">
			<div class="btn btn-danger mb-1 mr-1" ng-click="deleteCurrentCard()">Delete</div>
			<div class="btn btn-success mb-1 mr-1" ng-click="editCurrentCard()">Edit</div>
		</div>

		<ul class="list-unstyled mb-3">
			<li ng-repeat="fruit in fruits" class="mb-2">
				<span ng-class="fruit.isDeleted ? 'badge badge-danger':'' " ng-show="!editMode">{{ fruit.name }}</span>
				<input type="checkbox" ng-checked="fruit.isDone" ng-show="!editMode" ng-disabled="fruit.isDeleted">
				<input type="text" ng-model="fruit.name" ng-show="editMode" ng-disabled="fruit.isDeleted">
				<button ng-class="fruit.isDeleted ? 'badge badge-default':'badge badge-danger' " ng-show="editMode" ng-click="itemDelete(fruit)"
								ng-disabled="fruit.isDeleted">X</button>
			</li>
		</ul>

		<div class="btn btn-primary mb-1" ng-click="saveCurrentCard()" ng-show="editMode">Save
		</div>

	</div>
</div>
