
<ul class="list-group">
  <!-- list -->
  <li class="list-group-item justify-content-between">
    <a href="#/today">
      Today
      <span class="badge badge-default badge-pill">14</span>
    </a>
  </li>
  <li class="list-group-item justify-content-between">
    <a href="#/nextDay">
      Next day
      <span class="badge badge-default badge-pill">2</span>
    </a>
  </li>
  <li class="list-group-item justify-content-between">
    <a href="#/soon">
      Soon
      <span class="badge badge-default badge-pill">1</span>
    </a>
  </li>
</ul>
