<div ng-controller="soonController">
  <div class="card"><!-- card -->
    <div class="card-block">

      <div class="d-flex justify-content-end">
        <div class="btn btn-success mb-1 mr-1" id="edit">Edit</div>
        <div class="btn btn-danger mb-1 mr-1" id="delete">Delete</div>
      </div>

      <ul class="list-unstyled">
        <li ng-repeat="item in items"> {{ item }}</li>
      </ul>

    </div>
  </div><!-- card END -->
</div>